<mat-grid-list cols="3" rowHeight="4:1">
  <mat-grid-tile [rowspan]="clients.length/2">
    <div class="card-body">
      <button [disabled]="!changeClient" (click)="change()" class="btn btn-info">Добавить клиента</button>
      <button [disabled]="changeClient" (click)="change()" class="btn btn-info">Изменить клиента</button>
      <form [formGroup]="client" novalidate>
        <div class="form-group" *ngIf="changeClient">
          <label for="change">Выберите клиента</label> <br>
          <select (change)="chooseClient($event)" id="change" required>
            <option [value]="-1">Не выбрано</option>
            <option *ngFor="let item of clients;let i = index" [value]="i">{{item.fullName}}</option>
          </select>
          <div *ngIf="client.untouched" class="alert alert-danger">Укажите клиента</div>
        </div>
        <div class="form-group">
          <label for="fullName">ФИО</label><br>
          <input type="text" name="fullName" id="fullName" formControlName="fullName">
          <div *ngIf="client.controls['fullName'].invalid && client.controls['fullName'].touched"
               class="alert alert-danger">ФИО - обязательное
            поле
          </div>
        </div>
        <div class="form-group">
          <label for="fullName">Телефон</label><br>
          <input type="text" name="phoneNumber" formControlName="phoneNumber">
          <div *ngIf="client.controls['phoneNumber'].invalid && client.controls['phoneNumber'].touched"
               class="alert alert-danger">Телефон - обязательное
            поле
          </div>
        </div>
        <button (click)="addClient()" [disabled]="client.invalid">Отправить</button>
        <button (click)="deleteClient()" *ngIf="changeClient" [disabled]="client.invalid">Удалить</button>
      </form>
    </div>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let client of clients; let i = index">
    <mat-card>
      <mat-card-title>
        Клиент №{{i+1}}
      </mat-card-title>
      <mat-card-content>
        ФИО: {{client.fullName}} <br>
        Номер телефона: {{client.phoneNumber | phone}} <br>
      </mat-card-content>
      <!--  <mat-card-actions *ngIf="user!=null">-->
      <!--    <button mat-icon-button [color]="this.clicked.has(i) ? 'warn' : 'primary'" (click)="addTour(i)">-->
      <!--      <mat-icon>favorite</mat-icon>-->
      <!--    </button>-->
      <!--  </mat-card-actions>-->
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
