<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile [rowspan]="medications.length/2">
    fomra
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let medication of medications">
    <mat-card>
      <mat-card-title>
        Препарат №{{medication.id}}
      </mat-card-title>
      <mat-card-content>
        Наименование: {{medication.name}} <br>
        Поставщик: {{medication.manufacturer.name}} <br>
        Упаковка: {{medication.packaging.name}} <br>
        Цена покупки на складе: {{medication.purchasePrice}} <br>
        Рекомендуемая цена продажи: {{medication.salePrice}} <br>
        Болезни: <p *ngFor="let disease of medication.diseases"> {{disease.name}}</p>
      </mat-card-content>
      <!--  <mat-card-actions *ngIf="user!=null">-->
      <!--    <button mat-icon-button [color]="this.clicked.has(i) ? 'warn' : 'primary'" (click)="addTour(i)">-->
      <!--      <mat-icon>favorite</mat-icon>-->
      <!--    </button>-->
      <!--  </mat-card-actions>-->
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
